@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:ital,wght@1,300&family=Poppins:wght@600&family=Roboto:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body{
    color: black;
    background-color: aqua;
}
#p img{
    height: 150px;
    position: absolute;
    cursor:pointer;
}
#p img:hover{
    transform: scale(1.3);
}
#p span p{
    position: relative;
    left: 12%;
    width: 80vw;
}
#p{
    height: 150px;
    width: 100%;
    line-height: 1.5;
    letter-spacing: 1.0px;
    font-size:medium;
    background-color: #EEEEEE;
    color: black;
}
.search-box{
    width: 50%;
    display: grid;
    grid-template-columns: 6fr 3fr;
    gap: 1.2em;
    margin: 5% 30% 2% 30%;
}
.search-box input{
    background-color: #EEEEEE;
    font-size: 1em;
    padding: 0.6em;
    border: none;
    outline: none;
    border-right: 4px solid rgb(216, 34, 34);
    border-bottom: 4px solid rgb(216, 34, 34);
    color: black;
}
.search-box button {
    font-size: 1em;
    background-color: rgb(216, 34, 34);
    border: none;
    font-weight: 600;
    border-radius: 0.3em;
    color: white;
    cursor:pointer;
}
.search-box button:hover{
    background-color: black;
    color: #EEEEEE;
    transform: scale(1.1);
}
#first-div{
    height: 250px;
}
#second-div, #third-div{
    height: 250px;
}
#second-div div pre, #third-div div p{
    text-align: center;
}
#second-div div pre{
    margin-top: 1.5%;
}
#random-meal{
    display: flex;
    justify-content: center;
    margin-top: 1.2%;
}
#random-meal .meal{
    width: 400px;
    height: 200px;
    border: 4px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 10px 0;
    box-sizing: border-box;
    border-radius: 12px;
    cursor: pointer;
    background-color:#EEEEEE;
}
#random-meal .meal:hover{
    transform: scale(1.05);
}
#random-meal .meal span:first-child{
    width:100%;
    height: 100px;
    background-size: cover;
    background-position: center; 
}
#random-meal .meal span:nth-child(2),
#random-meal .meal span:nth-child(3) {
    margin-top: 10px;
}

#related-meals {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 1.2%;
    margin-left: 2%;
    margin-right: 2%;
}
#related-meals .meal {
    width: 100%;
    height: 200px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 10px 0;
    box-sizing: border-box;
    border-radius: 12px;
    border: 4px solid black;
    background-color:#EEEEEE;;
    cursor: pointer;
}
#related-meals .meal:hover{
    transform: scale(1.05);
}

#related-meals .meal span:first-child {
    width: 100%;
    height: 100px; 
    background-size: cover;
    background-position: center; 
}

#related-meals .meal span:nth-child(2),
#related-meals .meal span:nth-child(3) {
    margin-top: 10px;
}
.pop-up{
    border: 4px solid #EEEEEE;
    color: black;
    background-color:grey;
    padding: 20px;
    border-radius: 12px;
    width: 80%;
    max-width: 500px;
    display: none;
    position: absolute;
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.section {
    margin-bottom: 20px;
}
.section h3{
    margin-bottom: 10px;
}
.section ul {
    margin-left: 20px;
}
@media screen and (max-width: 1240px) {
    #first-div {
        height: auto;
        width: auto;
    }

    #p {
        height: auto;
        width: auto; 
        line-height: 1.3;
        font-size: smaller; 
    }

    #p img {
        height: 100px;
    }
}
@media screen and (max-width: 768px){
    #p img {
        height: 90px;
        display: block;
        padding-top: 2%;
    }
    #p img:hover{
        transform: scale(1.1);
    }
    #p {
        height: auto;
        width: auto; 
        line-height: 1.2;
        font-size: small; 
    }
    #p p{
        padding-left: 2%;
    }
}

@media screen and (max-width: 426px){
    #p img {
        height: 70px;
        display: block;
        margin-top: 6%;
    }
    #p {
        height: auto;
        width: auto;  
    }
    #p p {
        font-size: 10px;
        margin-left: 30px;
    }
    .search-box{
        display: flex;
        justify-content: center;
    }
    .search-box button{
        font-size: 0.9em;
        font-weight: 300;
        width: 250px;
        
    }
    .pop-up{
        border: 4px solid #EEEEEE;
        color: black;
        background-color:grey;
        max-width: 500px;
        display: none;
        position: absolute;
        width: 80%;
        height: 50%;
        margin-top: 20%;
        overflow-y: scroll;
    }
    #related-meals{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    }
}
